*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.main-container{
    position: relative;
    color: #6d6d6d;
    overflow: hidden;
}

a{
    color: #6d6d6d;
    text-decoration: none;
}

h2{
    color: white;
}

h4{
    color: white;
    text-transform: uppercase;
}

.m-b15px{
    margin-bottom: 15px;
}

a:hover{
    color: white;
}

/*--------------------------------------*/

.sidebar{
    background-color: black;
    color: #6d6d6d;
    width: 150px;
    height: calc(100vh - 70px);
    padding: 15px 15px 0px 15px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
}

.logo img:last-child{
    display: none;
}

.sidebar .fas {
    font-size: 20px;
    width: 20px;
    line-height: 24px;
    margin: 5px 10px 5px 0;
    vertical-align: middle;
}

.green-border{
    border-left: #adff2f 2px solid ;
    width: 150px;
    margin-left: -15px;
    padding-left: 10px;
}

.green-border a{
    color: white;
}

.sidebar .far{
    margin-right: 10px;
}

.sidebar .fas:last-child{
    font-size: 30px;
    margin-right: 15px;
}

.playlist p,
.side-scrollbar p{
    line-height: 25px;
}

.side-scrollbar {
    overflow-y: auto;
    flex-grow: 1;
    min-height: 75px;
}

.sidebar .bottom p{
    display: inline-block;
    margin: 5px 0;
}

.sidebar .bottom p:last-child{
    color: white;
}

.sidebar .bottom p:last-child span{
    margin-left: 5px;
}

.profile{
    height: 25px;
    background: #808080;
    border-radius: 50%;
    vertical-align: middle;
}

/* ------------------ /SIDEBAR ----------------- */

.page{
    width: calc(100% - 150px);
    height: calc(100vh - 70px);
    background-color: #141922;
    position: absolute;
    right: 0;
    top: 0;
    flex-grow: 1;
    overflow-y: scroll;
}

.page h6{
    font-size: 16px;
}

.page p{
    font-size: 14px;
}

.header-button{
    width: calc(100vw - 150px);
    height: 70px;
    background-color: rgba(8,11,18,0.5);
    z-index: 1000;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0px;
}

.button{
    padding: 10px 25px;
    border: white 1px solid;
    border-radius: 20px;
    text-transform: uppercase;
    background-color: rgb(8,11,18);
    color: white;
    font-size: 16px;
    margin-right: 20px;
}

.a-button{
    color: white;
}

.button:hover{
    font-size: 18px;
}

.header{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: #6d6d6d;
    margin-top: 70px;
}

.header span{
    margin: 0 15px;
    line-height: 50px;
    font-size: 12px;
}

.header span:first-child{
    position: relative;
}

.green-underline{
    width: 30px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-bottom: 1px #adff2f solid;
}

.container{
    margin: 0 15px 50px 15px;
}

.page .container:last-child{
    margin-bottom: 0;
}

.row{
    text-align: center;
}

.first-row{
    display: flex;
    justify-content: space-between;
}

.second-row,
.third-row{
    display: flex;
}

.first-row .song:first-child,
.second-row .song:first-child{
    margin-left: 0;
}

.first-row .song:last-child,
.second-row .song:last-child{
    margin-right: 0;
}

.song{
    width: calc(100% / 7);
    margin: 0 10px;
    color: white;
}

.song img{
    object-fit: cover;
    max-width: 100%;
    min-width: 100px;
    flex-grow: 1;
}

.circle{
    border-radius: 50%;
}

/* ------------------ /MAIN PAGE ----------------- */

footer{
    height: 70px;
    width: 100%;
    background-color: #282828;
    display: flex;
    z-index: 100;
    position: fixed;
    bottom: 0;
    left: 0;
}

footer h4{
    text-transform: none;
}

.left,
.right {
    width: 20%;
}

.left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.left .far{
    margin: 0 10px;
}

.text{
    margin-right: 25px
}

.left img{
    vertical-align: middle;
    width: 50px;
}

.left .text p{
    font-size: 12px;
}

.left a:hover{
    text-decoration: underline;
}

footer .center{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    color: white;
    flex-grow: 1;
    flex-shrink: 1;
}

footer .center i{
    margin: 0 5px;
    font-size: 12px;
    vertical-align: middle;
}

.bottom #range{
    width: 50%;
    margin: 0 10px;
    vertical-align: middle;
}

footer .bottom span{
    font-size: 10px;
}

footer .center .far{
    margin: 0 5px;
    font-size: 20px;
}

.center .top a{
    color: white;
}

.center .fa-play-circle:hover{
    font-size: 24px;
}

.right{
    display: flex;
    justify-content: start;
    align-items: center;
    line-height: 70px;
}

.right i{
    margin: 0 5px;
}

#volume{
    vertical-align: middle;
    width: 60%;
}

/* ------------------ /FOOTER ----------------- */

/* MEDIUM-LARGE */

@media screen and (min-width: 801px) and (max-width: 1199px) {

    .header{
        flex-wrap: wrap;
    }

    .first-row,
    .second-row,
    .third-row{
        flex-wrap: wrap;
        justify-content: start;
    }
    
    .song{
        width: calc(25% - 20px);
        margin: 0 15px 15px 0px;
    }

    .first-row .song:first-child,
    .first-row .song:nth-child(5),
    .second-row .song:first-child,
    .third-row .song:first-child{
        margin-left: 0;
    }

    .first-row .song:last-child,
    .first-row .song:nth-child(4),
    .second-row .song:last-child,
    .third-row .song:last-child{
        margin-left: 0;
    }

    .left img{
        margin: auto 10px;
    }
}

/* MEDIUM */

@media screen and (min-width: 575px) and (max-width: 800px) {

    .header{
        flex-wrap: wrap;
    }

    .first-row,
    .second-row,
    .third-row{
        flex-wrap: wrap;
    }
    
    .song{
        width: calc(50% - 15px);
        margin: 0 5px 15px 5px;
    }

    .first-row .song:nth-child(even){
        margin-left: 0;
    }

    .first-row .song:nth-child(odd){
        margin-left: 0;
    }

    .left img{
        margin: auto 5px;
    }

    .right{
        font-size: 12px;
    }

    #volume{
        width: 80%;
    }
}

/* SMALL */

@media screen and (max-width: 575px) {

    .sidebar{
        width: 50px;
    }

    .page{
        width: calc(100% - 50px);
    }

    .logo img:last-child{
        display: block;
    }

    .logo img:first-child{
        display: none;
    }

    .playlist,
    .sidebar span,
    .side-scrollbar p,
    hr {
        display: none;
    }

    .sidebar .bottom i{
        margin: 10px 25%;
    }

    .sidebar .profile{
        height: 20px;
    }

    .header-button{
        width: calc(100% - 50px);
    }

    .header{
        flex-wrap: wrap;
    }

    .first-row,
    .second-row,
    .third-row{
        flex-wrap: wrap;
    }
    
    .song{
        width: calc(50% - 15px);
        margin: 0 5px 15px 5px;
    }

    .first-row .song:nth-child(even){
        margin-left: 0;
    }

    .first-row .song:nth-child(odd){
        margin-left: 0;
    }

    .bottom #range{
        width: 30%;
    }

    .left,
    .right {
        width: 30%;
    }

    .left img{
        width: 35px;
        margin: auto 5px;
    }

    .left .text{
        margin-right: 0;
    }

    .left .icon{
        font-size: 10px;
    }

    .left .icon .far:first-child{
        margin-bottom: 5px;
    }

    .right{
        font-size: 10px;
        padding-right: 5px;
    }
}